<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/db7ff75cee.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <i class="bx bx-menu"></i>
        <div class="logo">
          <a href="#"
            ><img
              src="{{ url_for('static', filename='logoo.png') }}"
              alt="Your SVG Image"
              height="68"
              width="239"
          /></a>
        </div>
        <div class="nav-links">
          <div class="sidebar-logo">
            <span class="logo-name">Exam Archive</span>
            <i class="bx bx-x"></i>
          </div>
          <ul class="links">
            <li><a href="#">HOME</a></li>
            <li>
              <a href="{{ url_for('posts.categories') }}">Placement Prep</a>
            </li>

            <li><a href="#">ABOUT US</a></li>
            <li><a href="/archive">ARCHIVE</a></li>
          </ul>
        </div>
        <div class="search-box">
          Filters
          <div class="input-box">
            <input type="text" placeholder="Search..." />
          </div>
        </div>
        {% if user %}
        <!-- Render logout button -->
        <a href="{{ url_for('login.logout') }}">Logout</a>
        {% if user.is_admin %}
        <!-- If user is admin, show additional links -->
        <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
        <!-- Add more admin links here if needed -->
        {% endif %} {% else %}
        <!-- Render login button -->
        <a href="{{ url_for('login.login') }}">Login</a>
        {% endif %}
      </div>
    </nav>

    <div class="container">
      <div class="inner-con">
        <h1>EXAM &nbsp;<span>ARCHIEVE</span></h1>
        <div class="search1">
          <input type="text" class="search-input1" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
      </div>
    </div>
    <div class="image-con">
      <img
        src="{{ url_for('static', filename='29658253_7605880.svg') }}"
        alt="Your SVG Image"
        height="400"
        width="400"
      />
    </div>

    <script>
      // Function to handle search redirection
      function redirectToSearch() {
        // Get the search query from the input field
        var searchQuery = document.querySelector(".search-input1").value.trim();

        if (searchQuery !== "") {
          // Redirect to the search page with the query in the URL
          window.location.href =
            "/search_page?query=" + encodeURIComponent(searchQuery);
        }
      }

      // Event listener for the search icon click
      document
        .querySelector(".bx-search")
        .addEventListener("click", redirectToSearch);
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
