<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects</title>
  </head>
  <body>
    <h1>Subjects for {{ semester.SemesterName }} in {{ course.CourseName }}</h1>
    <ul>
      {% for subject in subjects %}
      <li>
        <a
          href="{{ url_for('archive.get_question_papers', course_id=course.CourseID, semester_id=semester.SemesterID, subject_id=subject.SubjectID) }}"
          >{{ subject.SubjectName }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
